.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* CosmicBackground.css */
.cosmic-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: cosmicAnimation 20s linear infinite;
}

@keyframes cosmicAnimation {
  0% { background-color: #000; }
  50% { background-color: #020c1b; }
  100% { background-color: #000; }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* App.css */

.background-container1 {
  position: relative;
  width: 100vw;
  height: 100vh; /* Set the height to 100vh to match the viewport height */

}

.background-container1 canvas:not(:first-child){
  display: none !important;
}

.parallax-content {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure the parallax content is on top of the background */
  text-align: center;
  overflow: hidden;
}

/* Parallax effect
.parallax-content:hover {
  transform: translateX(-50%) translateY(-20vh); /* Adjust translateY value for the parallax effect */




